.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  gap: 2rem;
}

.cardBox {
  font-size: 1.2em;
  perspective: 800px;
  transition: all 0.3s ease 0s;
  aspect-ratio: 2 / 3;
}

.cardBox:hover .card {
  transform: rotateY(180deg);
}

.card {
  background: #222;
  cursor: default;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.4s ease 0s;
  -webkit-animation: giro 1s 1;
  animation: giro 1s 1;

  border: 3px solid khaki;
  border-radius: 15px;
}

.name {
  padding: 0.5rem;
}

.image {
  flex: 1;
  height: calc(100% - 2rem);
  object-fit: contain;
}

.front,
.back {
  backface-visibility: hidden;
  box-sizing: border-box;
  color: white;
  display: flex;
  flex-direction: column;

  font-size: 1.2em;
  height: 100%;
  padding: 0.8em;
  position: absolute;
  text-align: center;
  width: 100%;
}

.back {
  transform: rotateY(180deg);
  overflow: auto;
}

@keyframes giro {
  from {
    transform: rotateY(180deg);
  }
  to {
    transform: rotateY(0deg);
  }
}

@-webkit-keyframes giro {
  from {
    transform: rotateY(180deg);
  }
  to {
    transform: rotateY(0deg);
  }
}

/* .card {
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card img {
  width: 200px;
  object-fit: contain;
  border-radius: 5px;
} */
